html {
    cursor: url('cursor.png'), auto;
    --dot-bg: #D1E5F4;
    --dot-color: #2C272B;
    --dot-size: 0.15rem;
    --dot-space: 4rem;
    background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);
}
h1 {
    color: #2C272B;
    font-family: Verdana;
    font-size: 4rem;
    margin-left: 30rem;
    margin-top: 4rem;
}